<!--Llamamos a header y asignamos valor a title-->
{% extends 'usuario/header.html' %}
{% block title %}Mascotas{% endblock %}
{% block content %}

<!--FILTRO-->
{% load static %}
<script type="text/javascript" src="{% static 'usuario/app.js' %}"></script>
<div class="container">
  <form class="text-center border border-light p-2">
    <h1>Mascota</h1>
    <div class="form-row mb-2">
        <div class="col">
            <input id="entradafilter" type="text" class="form-control" placeholder="Filtrado">
        </div>
        <div>
            <a href="{% url 'mascota_agregar' %}" class="btn btn-success">Agregar Mascota</a>
        </div>
    </div>
  </form>

  <!--CONTENIDO-->
</div>
{% endblock %}



