<!--Llamamos a header y asignamos valor a title-->
{% extends 'usuario/header.html' %}
{% block title %}Mascotas{% endblock %}
{% block content %}


<!--FILTRO-->
{% load static %}
<script type="text/javascript" src="{% static 'usuario/app.js' %}"></script>

<form class="text-center border border-light p-2">
  <h1>Mascota</h1>
  <div class="form-row mb-2">
      <div class="col">
          <input id="entradafilter" type="text" class="form-control" placeholder="Filtrado">
      </div>
      <div>
          <a href="{% url 'mascota_agregar' %}" class="btn btn-success">Agregar Mascota</a>
      </div>
  </div>
</form>


<form class="text-center border border-light p-4">

  {% for m in mascota  %}
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="img-fluid" src="{{m.foto.url}}" alt="">
        <div class="caption">
          <h3>{{m.nombre}}</h3> 
          <p>{{m.raza}}</p>  
          <p>{{m.description}}</p>
          <p>{{m.estado}}</p>
          
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

</form>
{% endblock %}



