{% extends 'usuario/header.html' %}
{% block title %}Agregar Usuarios{% endblock %}
{% block content %}
<!--FORMULARIO-->
<div class="container h-50">
    <!-- ADD TASK FORM -->
    <div class="row h-50 justify-content-center align-items-center">
        <!--GUARDAR-->
        <form method="POST">
            {% csrf_token %}
            <br>
            <h1>Registre usuario</h1>
            <br>
            
            <input type="submit" class="btn btn-success btn-block" value="Guardar">
        </form>
    </div>
</div>
{% endblock %}